
{
    color1 : #1E90FF;
}

.text-field{
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
}

.password-field{
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}

.button:hover{
    -fx-background-color: gold;
    -fx-cursor: hand;
}
.button{
    -fx-background-radius: 100px;
    -fx-background-color: white;
}
.button:pressed{
    -fx-background-color: lime;
}
